@import url(https://fonts.googleapis.com/css?family=Merriweather:300,700);

body{
  font-family: 'Merriweather', serif;
  font-size: 14px;
}

.mini-header{
  font-size: 1.6em;
}

p{
  line-height: 1.8em;
  margin: 0;
  padding: 8px 0 8px 0;
}

a{
  cursor: pointer;  
}

#page{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 5px 0 5px;
}
