@import url(https://fonts.googleapis.com/css?family=Merriweather:300,700);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400italic);

$text-color: #0D0D0D;
$background-color: #FCFCFC;
$page-width: 500px;

body{
  font-family: 'Merriweather', serif;
  font-size: 15px;
  color: $text-color;
  background-color: $text-color;
  margin: 0;
}

p{
  line-height: 1.8em;
  margin: 0;
  padding: 8px 0 8px 0;
}

h1, h2{
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 3em;
  margin: 0;
}

h2{
  padding: 0 5px 0 5px;
  font-size: 1.5em;
}

hr {
  padding: 0;
  margin: 10px 0;
  border: none;
  border-top: 1px solid $text-color;
  color: $text-color;
  text-align: center;
}

hr.fancy:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  padding: 0 0.25em;
  background: white;
}

a{
  color: $text-color;
  font-style: italic;

  &:hover{
    cursor: pointer;
    text-decoration: underline;
  }
}

a.button{
  font-style: normal;

  &:hover{
    text-decoration: none;
  }
}

#window {
  background-color: $background-color;
}

#header{
  padding-bottom: 50px;

  #menu{
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #title{
    text-align: center;
    padding: 50px 0 72px 0;

    h1{
      padding-bottom: 6px;
    }
  }

  #about-box{
    margin-bottom: 150px;

    #about-close{
      float: right;
      font-size: 2em;
      text-align: right;
    }
  }
}

#footer{
  text-align: center;
  padding: 30px 0 30px 0;
}

#footer p{
  font-size: 0.7em;
}

#page{
  max-width: $page-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px 0 10px;
}

.mini-header{  
  margin-right: 15px;
  font-weight: bold;
}

.upper{
  text-transform: uppercase;
}

.hidden{
  display: none;
}

.shown{
  display: inherit;
}

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2015 Daniel Eden
*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* trimmed animate.css */

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.divider{
  text-align: center;
  padding: 40px 0 40px 0;
}

/* trimmed animate.css */

